body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    background-color: rgb(38, 38, 66);
    color: white;
}
.title-name{
    text-align: center;
    color: aqua;
    text-shadow: 1px 1px 5px black;
}
.all-container{
    width: 90%;
    height: 90%;
    /* border-style: solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container{
    margin-top: 40px;
    /* border-style: solid; */
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button{
    background-color: rgb(38, 38, 66);
    /* border-style: solid; */
    /* border-color: white; */
    border:none;
    border-radius: 60px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.rock-image{
    height: 70px;
    width: 70px;
}
.rock-image:hover{
    width: 60px;
    height: 60px;
    transition: 0.2s;
}
.paper-image{
    height: 70px;
    width: 70px;
}
.paper-image:hover{
    width: 60px;
    height: 60px;
    transition: 0.2s;
}
.scissor-image{
    height: 70px;
    width: 70px;
}
.scissor-image:hover{
    width: 60px;
    height: 60px;
    transition: 0.2s;
}

.feedback-container{
    /* border-style: solid; */
    width: 80%;
    height: 65%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
}
.remove{
    margin-top: 0px;
    height: 40px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    position: absolute;
    bottom: 0px;
}
.remove:hover{
    margin-top: 0px;
    height: 35px;
    width: 95px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    position: absolute;
    bottom: 0px;
    transition: 0.3s;
}